.heading{
    font-size:25px;
    width:100%;
    margin:0px;
    color: white;
    background: grey;
    }
    
    .heading_div{
    float:none;
    background:white;
    padding:10px;
    border-radius:20px;
    color:black;
    box-shadow:5px 5px 5px grey;
    font-size:25px;
    }
    
    .heading_div2{
    font-size: 18px;
    background:rgb(255, 0, 136);
    border-radius:5px;
    width:300px;
    height:25px;
    color:white;
    }
    
    body{
    background-image:url(doodle.jpg);
    }

    .main_div{
    background:grey;
    }

    .result_para_tag{
        box-shadow:5px 5px 5px grey;
        font-size:20px;
        background-color:rgb(255, 0, 136);
        width: 100px;
        border-radius: 5px;
        }
        
        .copy_right_footer{
        position:fixed;
        color:white;
        background-color:grey;
        bottom:0;
        width:100%;
        line-height:3;
        text-align:center;
        }
        
        canvas{
        border:5px solid red;
        box-shadow:5px 5px 5px grey;
        border-radius:20px;
        margin-top:110px;
        }